table,th,td{
    border:1px solid black;
    table-layout:fixed;
}
b{color:red;}
.col{color:black;}
.cell{color:black;}
.text{color:black;}
.vocab{color:black;}
.pron{color:black;}
.strong{color:black;}
.weak{color:black;}
.uk{color:black;}
.us{color:black;}
.type{color:black;}
.def{color:black;}
.eg{color:black;}
.trans{color:black;}
